---
layout: default
---

<div class="hero-unit">
  <h1>Dr. Bill Moore</h1>
  <div class="portrait"></div>
  <h3>Helping You Succeed in Competitive Performance Environments</h3>
</div>

<section class="about light-color-section" id="about">
  <div class="section-content">
    <p class="large">
      I am a performance psychology consultant working with
      business professionals helping both individuals and teams
      perform at optimal levels more consistently and when it
      counts the most.
    </p>
  </div>
</section>

<section class="about" id="about">
  <div class="section-content">
    <h1>About</h1>
    <div class="border"></div>
    <h3 class="small">I help you become more positive, focused and fighting</h3>
    <div class="more-section-group">
      <div class="more-section">
        <div class="font-heading fa fa-4x fa-thumbs-up"></div>
        <div class="item-heading large-heading">Positive</div>
        <div class="border"></div>
        <div class="item-subheading large-subheading">
          <b>About who you are and what you are doing. </b>
          You already have most of what you need to be successful. The goal is to get out the very best you have inside you.
        </div>
      </div>
      <div class="more-section">
        <div class="font-heading fa fa-4x fa-binoculars"></div>
        <div class="item-heading large-heading">Focused</div>
        <div class="border"></div>
        <div class="item-subheading large-subheading">
          <b>On the things that matter most for your success. </b>
          For many, it is not talent or work ethic keeping them from maximizing their full potential. Rather it is their ability to focus. Success is a product of identifying and executing around correct priorities.
        </div>
      </div>
      <div class="more-section">
        <div class="font-heading fa fa-4x fa-fighter-jet"></div>

        <div class="item-heading large-heading">Fighting</div>
        <div class="border"></div>
        <div class="item-subheading large-subheading">
          <b>To overcome self-imposed obstacles. </b>
          Most of the fears, doubts and limiting beliefs we experience are one’s we create. Fully expressing your potential lies in your commitment to fight the good fight to overcome these self-imposed obstacles.
        </div>
      </div>
    </div>
    <br />
    <div class="separate"></div>
    <h3>Touchstones</h3>
    <p>
      I believe maximizing your full potential can be achieved with passion and persistence. Every individual possesses the strengths enabling him or her to overcome obstacles and move beyond common performance into the realm of uncommon, passionate performance. The following are the standards you can expect from me.
    </p>
    <div class="about-section-group">
      <div class="about-section">
        <div class="item-heading large-heading">
          <div class="faux-underline-large">Integrity</div>
        </div>
        <div class="item-subheading large-subheading">
          I acknowledge the trust placed in me, and work to protect and honor that trust in all we do together. You can expect sincerity, honesty, forthrightness and a commitment to my values and principles.
        </div>
      </div>
      <div class="about-section">
        <div class="item-heading large-heading">
          <div class="faux-underline-large">Intentionality</div>
        </div>
        <div class="item-subheading large-subheading">
          I approach our work together with purpose. While the process employed may be multifaceted, it is goal directed  - your goals, for your life and work.
        </div>
      </div>
      <div class="about-section">
        <div class="item-heading large-heading">
          <div class="faux-underline-large">Accountability</div>
        </div>
        <div class="item-subheading large-subheading">
          I expect to be held accountable for the investment made by you or your company. I establish accountability structures with you to help generate movement toward your hopes, goals and dreams.
        </div>
      </div>
    </div>
  </div>
</section>

<div class="separate"></div>

<section class="do" id="do">
  <div class="section-content">
    <h1>What I do</h1>
    <div class="border"></div>
    <div class="section-do" id="coaching">
      <div class="left">
        <div class="item-heading large-heading">Performance Coaching</div>
        <div class="item-subheading item-description">
          Performance coaching is about helping you maximize your potential and the success of your business. This entails developing the skills and strategies for:
          <ol>
            <li><i>Getting out of your own way:</i> minimizing self-imposed obstacles keeping you from accessing your full potential.</li>
            <li><i>Getting into the game:</i> creating a positive performance mindset on demand.</li>
            <li><i>Staying in the game:</i> leading and managing yourself in a high-performance culture.</li>
          </ol>
        </div>
      </div>
      <div class="right">
        <a class="button" href="mailto:bemore@drbillmoore.com?subject=Inquiry about performance coaching">Inquire about performance coaching</a>
        <div class="small-note">I will honor confidentiality, availability and integrity</div>
      </div>
    </div>
  </div>
</section>

<section class="light-color-section" id="speaking">
  <div class="section-content">
    <div class="section-do third-size">
      <div class="left">
        <div class="item-heading large-heading">Corporate Speaking</div>
        <div class="item-subheading item-description">
          I speak on topics related to human performance in the workplace. I customize my material to meet the specific needs of organizations in order to facilitate their desired outcomes.
        </div>
        <a class="button" href="mailto:bemore@drbillmoore.com?subject=Corporate Speaking">Book Me</a>
      </div>
      <div class="right">
        <iframe src="https://player.vimeo.com/video/51351649" width="550" height="323" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class="do">
  <div class="section-content">
    <div class="section-do last">
      <div class="left">
        <div class="item-heading large-heading">High-Performance Seminars</div>
        <div class="item-subheading item-description">
          High-Performance seminars are designed to inspire participants and provide guidance in their continued growth. Participants discuss, learn and apply strategies for changing self-limiting beliefs, minimizing the mental and emotional interferences keeping them from performing at the upper range of their potential more consistently. Performance psychology principles are applied in creating a positive performance mindset.
          <a class="button" href="/assets/pdf/getting-where-you-want-to-go.pdf">Download Workbooks</a>
          <div class="small-note">
            Click for free seminar workbooks and handouts
          </div>
        </div>
      </div>
      <div class="right">
        <a class="button" href="mailto:bemore@drbillmoore.com?subject=Inquiry about high-performance seminars">Inquire about high-performance seminars</a>
        <div class="small-note">I will honor confidentiality, availability and integrity</div>
      </div>
    </div>
  </div>
</section>

<div class="separate"></div>
<section class="more-info" id="work">
  <div class="section-content">
    <h1>Work</h1>
    <div class="border"></div>
    <div class="case-studies">
      <div class="case-study">
        <div class="case-study-image" style="background-image: url('/assets/images/speaking-1.jpg')" ></div>
        <div class="case-study-name item-heading large-heading">Nokia</div>
        <div class="case-study-description item-subheading">
          &ldquo;Your Managing Imbalance seminar was exceptional. We work in a very hectic and fast moving business environment. This 2-day seminar focused on specific skills for improving each team member’s ability to achieve excellence while managing the imbalance in their personal lives. It was a great success. I still have team members coming to me and talking about the discussions and exercises we did during those two days.&rdquo;
          <div class="source">&mdash; <i>Markku Savusalo, Managing Director Nokia, Oulu Finland</i></div>
        </div>
      </div>
      <div class="case-study">
        <div class="case-study-image" style="background-image: url('/assets/images/speaking-3.jpg')" ></div>
        <div class="case-study-name item-heading large-heading">Lifetime Financial Growth</div>
        <div class="case-study-description item-subheading">
          &ldquo;Dr. Moore has been a visible and valuable asset to our company. So much so, we appointed him to our Board of Directors. He is involved in weekly performance coaching sessions with many of our agents and conducts monthly seminars at various LFG locations. He has demonstrated an ability to maximize the potential of our agents, both personally and financially.&rdquo;
          <div class="source">&mdash; <i>Earl Luttner, CEO and Chairman of the Board, Lifetime Financial Growth, LLC</i></div>
        </div>
      </div>
      <div class="case-study">
        <div class="case-study-image" style="background-image: url('/assets/images/speaking-2.jpg')" ></div>
        <div class="case-study-name item-heading large-heading">Catholic HealthCare West</div>
        <div class="case-study-description item-subheading">
          &ldquo;Thank you again for the inspirational message you shared. Your keynote was extremely timely for us and the Catholic Healthcare West team especially appreciated your enthusiasm and candor. Of all the presentations at our retreat, yours received the highest evaluation rating by our staff.&rdquo;
          <div class="source">&mdash; <i>Lori Aldrete, Vice president, corporate communications, CHW</i></div>
        </div>
      </div>
    </div>
    <div class="border"></div>
    <h3>Client List</h3>
    <div class="client-section">
      <div class="client"><a class="more-link faux-underline-large" href="http://pga.com">Professional Golf Association (PGA)</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="http://wtatennis.com">Women’s Tennis Association (WTA)</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="http://usta.com">United States Tennis Association (USTA)</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="http://teamusa.org">United States Track and Field (USOC)</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="http://clemson.edu">Clemson University</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="http://uky.edu">University of Kentucky</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="http://ou.edu">University of Oklahoma</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="http://www.utexas.edu">University of Texas</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="http://company.nokia.com">Nokia</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="https://www.northwesternmutual.com">North Western Mutual Financial Group</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="http://www.delwebb.com">Dell-Webb</a></div>
      <div class="client"><a class="more-link faux-underline-large" href="http://www.octagon.com">Octagon</a></div>
    </div>
  </div>
</section>

<section class="blog light-color-section" id="writing">
  <div class="section-content">
    <h1 class="small-header">Writing</h1>
    <div class="border"></div>
    <div class="section-writing">
      <div class="blog-entry">
        <div class="item-heading large-heading">
          <a href="https://www.linkedin.com/pulse/four-beliefs-great-performers-dr-bill-moore">4 Beliefs Of Great Performers</a>
        </div>
        <div class="item-subheading item-description">
          <p>
            What do great performers believe that separates them from others? How do they keep their confidence high and self-image intact through
            multiple mistakes, rejections and failures? When you think of great athletes, business professionals, or musicians, what beliefs keep them fighting the good fight, day in and day out?
          </p>
          <p>
            The following are four beliefs that provide the underpinnings of a positive performance mindset. They enable you to approach what you do with enthusiasm, persist through failures with confidence, and help you to evaluate your performances in ways that keeps your head in the game.What do great performers believe that separates them from others? How do they keep their confidence high and self-image intact through multiple mistakes, rejections and failures? When you think of great athletes, business professionals, or musicians, what beliefs keep them fighting the good fight, day in and day out?
          </p>
        </div>
      </div>
      <div class="blog-entry">
        <div class="item-heading large-heading">
          <a href="https://www.linkedin.com/pulse/four-beliefs-great-performers-dr-bill-moore">3 Self-limiting Beliefs of Salespeople</a>
        </div>
        <div class="item-subheading item-description">
          <p>
            Why is it that two individuals with identical sales capabilities, knowledge and talent reach two entirely different professional levels? What separates them? Why does one accomplish his goals and the other does not? Chances are it is not due to a better sales strategy, more product knowledge, or even more sales experience. Yet most sales training addresses either the strategic aspects of the selling process or the technical aspects of the products. How important is the mental and emotional aspect to your success? Success in any performance domain involves all three aspects - strategic, technical and mental/emotional. Yet, it is the mental/emotional aspect that is least understood and often has the greatest impact on achieving and sustaining your success.
          </p>
        </div>
      </div>
      <div class="blog-entry">
        <div class="item-heading large-heading">
          <a href="https://www.linkedin.com/pulse/4-choices-high-performers-make-other-dont-dr-bill-moore">4 Choices High Performers Make That Other Don't</a>
        </div>
        <div class="item-subheading item-description">
          <p>
            It is very possible that for you to perform at the upper range of your potential more often, you will need to make some changes - to make different choices. Below are four choices you can make to become a high performer.
          </p>
          <p>
            A high performers are typically understood as individuals who are achieving outcomes beyond or above most other people. What if we broadened the definition of a high performer to include are all those individuals who, consistently perform at the upper range of their current potential, regardless of their skill level or talent? This definition separates high performers from elite performers.
          </p>
          <p>
        </div>
      </div>
      <br />
      <div class="blog-entry">
        <div class="item-heading large-heading">
          <a href="https://www.linkedin.com/pulse/3-great-affirmations-keeping-your-head-game-dr-bill-moore">3 Affirmations For Keeping Your Head In The Game</a>
        </div>
        <div class="item-subheading item-description">
          <p>
            <i>“The inner game takes place within the mind of the player and is played against such obstacles as fear, self-doubt, lapses in focus, and limiting concepts or assumptions.”</i> - Timothy Gallway, The Inner Game of Tennis
          </p>
          <p>
            When ever you strive for success you engage in two games simultaneously - the inner game and the outer game. Winning the outer game involves achieving external rewards - a promotion, salary increase or professional award.
          </p>
          <p>
        </div>
      </div>
    </div>
    <a class="button" target="_blank" href="https://www.linkedin.com/in/drbillmoore">See More</a>
  </div>
</section>

<section class="books" id="books">
  <div class="section-content">
    <h1 class="small-header">Books</h1>
    <div class="border"></div>
    <h3>Books for Professionals</h3>
    <div class="section-books half">
      {% for book in site.books do %}
      {% if book.type == 'corporate' %}
      <div class="book">
        <a href="{{ book.url }}">
          <div class="books-container">
            <div class="three-d-book">
              <div class="book-page-image" style="background-image: url('{{ book.image }}')"></div>
            </div>
          </div>
        </a>
        <a href="{{ book.url }}" class="item-heading large-heading">{{ book.title }}: {{ book.subtitle }}</a>
        <div class="item-subheading">{{ book.content | markdownify }}</div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <h3>Books for Musicians</h3>
    <div class="section-books third">
      {% for book in site.books do %}
      {% if book.type == 'music' %}
      <div class="book">
        <a href="{{ book.url }}">
          <div class="books-container">
            <div class="three-d-book">
              <div class="book-page-image" style="background-image: url('{{ book.image }}')"></div>
            </div>
          </div>
        </a>
        <a href="{{ book.url }}" class="item-heading large-heading">{{ book.title }}: {{ book.subtitle }}</a>
        <div class="item-subheading">{{ book.content | markdownify }}</div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <h3>Books for Golfers</h3>
    <div class="section-books full">
      {% for book in site.books do %}
      {% if book.type == 'golf' %}
      <div class="book">
        <a href="{{ book.url }}">
          <div class="books-container">
            <div class="three-d-book">
              <div class="book-page-image" style="background-image: url('{{ book.image }}')"></div>
            </div>
          </div>
        </a>
        <a href="{{ book.url }}" class="item-heading large-heading">{{ book.title }}</a>
        <div class="item-subheading">{{ book.content | markdownify }}</div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="seminars light-color-section" id="seminars">
  <div class="section-content">
    <h1 class="small-header">Seminars</h1>
    <div class="border"></div>
    <p>
      I rate the Fearless Prospecting Seminar a 10 out of 10. I already liked to prospect and found it fun. Dr. Bill's seminar along with his high performance journal helped me get a greater perspective on my self-limiting factors. In the small group session I learned that I approached prospecting out of a fear of failure vs. an excitement for success. I realized just last week that I need to and can confidently prospect to families earning $400,000 or more. I used to prospect to survive, now I am prospecting to prosper. It has really helped me.
      <div class="source">&mdash; <i>George E. Kavalauskas, Jr, CLU</i></div>
    </p>
    <p>
      ​Hands-down, the best LFG development program we've have. Dr. Bill nails it every visit. I consistently get the best feedback from all FR’s in Columbus about his work. The journaling process has helped me become far more organized, focused, and happy. I would recommend this program to every General Agent in the country. Bill has helped me become stronger leader because of the time spent with him.
      <br />
      <div class="source">&mdash; <i>Paul Swift, Associate General Agent, Lifetime Financial Growth, LLC</i></div>
    </p>
    <p>
      Doc Bill's seminar was the best prospecting seminar I have attended. He uses very real and understandable coaching advice that you can apply immediately, as opposed to months of homework. His compassion and understanding of the life insurance industry is also shown in the class and adds extra value to the class.
      <div class="source">&mdash; <i>Eric Fischesser, CFP</i></div>
    </p>
    <br />
    <h3 class="faux-underline-large">Corporate Seminars</h3>
    <div class="section-books quarter">
      {% for seminar in site.seminars do %}
      {% if seminar.type == 'corporate' %}
      <div class="book">
        <a href="{{ seminar.url }}" class="item-heading large-heading">{{ seminar.title }}</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <h3 class="faux-underline-large">Music Seminars</h3>
    <div class="section-books third">
      {% for seminar in site.seminars do %}
      {% if seminar.type == 'music' %}
      <div class="book">
        <a href="{{ seminar.url }}" class="item-heading large-heading">{{ seminar.title }}</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <h3 class="faux-underline-large">Sports Seminars</h3>
    <div class="section-books quarter">
      {% for seminar in site.seminars do %}
      {% if seminar.type == 'sports' %}
      <div class="book">
        <a href="{{ seminar.url }}" class="item-heading large-heading">{{ seminar.title }}</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
