---
layout: default
---

<div class="hero-unit">
    <h1>Dr. Bill Moore</h1>
    <div class="portrait"></div>
    <h3>Helping You Succeed in Competitive Performance Environments</h3>
</div>

<div class="separate first"></div>
<section class="about" id="about">
    <div class="section-content">
        <h1>About</h1>
        <div class="border"></div>
        <p class="large">
            I am a performance psychology consultant working with
            business professionals helping both individuals and teams
            perform at optimal levels more consistently and when it
            counts the most.
        </p>
    </div>
</section>
<section class="purple-section" id="help-become">
    <div class="section-content">
        <h3 class="small">I help you become more&#8230;</h3>
        <div class="more-section-group">
            <div class="more-section">
                <div class="font-heading fa fa-4x fa-thumbs-up"></div>
                <div class="item-heading large-heading">Positive</div>
                <div class="border"></div>
                <div class="item-subheading large-subheading">
                    <b>About who you are and what you are doing. </b>
                    You already have most of what you need to be successful. The goal is to get out the very best you have inside you.
                </div>
            </div>
            <div class="more-section">
                <div class="font-heading fa fa-4x fa-binoculars"></div>
                <div class="item-heading large-heading">Focused</div>
                <div class="border"></div>
                <div class="item-subheading large-subheading">
                    <b>On the things that matter most in your success. </b>
                    For many, it is not talent or work ethic keeping them from maximizing their full potential. Rather it is their ability to focus. Success is a product of identifying and executing around correct priorities.
                </div>
            </div>
            <div class="more-section">
                <div class="font-heading fa fa-4x fa-fighter-jet"></div>
                <div class="item-heading large-heading">Fighting</div>
                <div class="border"></div>
                <div class="item-subheading large-subheading">
                    <b>To overcome self-imposed obstacles. </b>
                    Most of the fears, doubts and limiting beliefs we experience are one’s we create. Fully expressing your potential lies in your commitment to fight the good fight to overcome these self-imposed obstacles.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="section-content">
        <h3>Touchstones</h3>
        <p>
            I believe maximizing your full potential can be achieved with passion and persistence. Every individual possesses the strengths enabling him or her to overcome obstacles and move beyond common performance into the realm of uncommon, passionate performance. The following are the standards you can expect from me.
        </p>
        <div class="about-section-group">
            <div class="about-section">
                <div class="item-heading large-heading">
                    <div class="faux-underline-large">Integrity</div>
                </div>
                <div class="item-subheading large-subheading">
                    I acknowledge the trust placed in me, and work to protect and honor that trust in all we do together. You can expect sincerity, honesty, forthrightness and a commitment to my values and principles.
                </div>
            </div>
            <div class="about-section">
                <div class="item-heading large-heading">
                    <div class="faux-underline-large">Intentionality</div>
                </div>
                <div class="item-subheading large-subheading">
                    I approach our work together with purpose. While the process employed may be multifaceted, it is goal directed  - your goals, for your life and work.
                </div>
            </div>
            <div class="about-section">
                <div class="item-heading large-heading">
                    <div class="faux-underline-large">Accountability</div>
                </div>
                <div class="item-subheading large-subheading">
                    I expect to be held accountable for the investment made by you or your company. I establish accountability structures with you to help generate movement toward your hopes, goals and dreams
                </div>
            </div>
        </div>
    </div>
</section>

<div class="separate"></div>

<section class="do" id="do">
    <div class="section-content">
        <h1>What I do</h1>
        <div class="border"></div>
        <div class="section-do" id="coaching">
            <div class="left">
                <div class="item-heading large-heading">Performance Coaching</div>
                <div class="item-subheading item-description">
                    Performance coaching is about helping you maximize your potential and the success of your business. This entails developing the skills and strategies for:
                    <ol>
                        <li><i>Getting out of your own way:</i> minimizing self-imposed obstacles keeping you from accessing your full potential.</li>
                        <li><i>Getting into the game:</i> creating a positive performance mindset on demand.</li>
                        <li><i>Staying in the game:</i> leading and managing yourself in a high-performance culture.</li>
                    </ol>
                </div>
            </div>
            <div class="right">
                <a class="button" href="mailto:bemore@drbillmoore.com?subject=Inquiry about performance coaching">Inquire about performance coaching</a>
                <div class="small-note">I will honor confidentiality, availability and integrity</div>
            </div>
        </div>
    </div>
</section>

<section class="purple-section" id="speaking">
    <div class="section-content">
        <div class="section-do third-size">
            <div class="left">
                <div class="item-heading large-heading">Corporate Speaking</div>
                <div class="item-subheading item-description">
                    I speak on topics related to human performance in the workplace. I customize my material to meet the specific needs of organizations in order to facilitate their desired outcomes.
                </div>
                <a class="button" href="mailto:bemore@drbillmoore.com?subject=Corporate Speaking">Book Me</a>
            </div>
            <div class="right">
                <iframe src="https://player.vimeo.com/video/51351649" width="550" height="323" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class="do">
    <div class="section-content">
        <div class="section-do last">
            <div class="left">
                <div class="item-heading large-heading">High-Performance Seminars</div>
                <div class="item-subheading item-description">
                    High-performance seminars are designed to inspire participants and provide guidance in their continued growth. Participants discuss, learn and apply strategies for changing self-limiting beliefs, minimizing the mental and emotional interferences keeping them from performing at the upper range of their potential more consistently. Performance psychology principles are applied in creating a positive performance mindset.
                    <a class="button" href="/assets/pdf/getting-where-you-want-to-go.pdf">Download Workbooks</a>
                    <div class="small-note">
                        Click for free seminar workbooks and handouts
                    </div>
                </div>
            </div>
            <div class="right">
                <a class="button" href="mailto:bemore@drbillmoore.com?subject=Inquiry about high-performance seminars">Inquire about high-performance seminars</a>
                <div class="small-note">I will honor confidentiality, availability and integrity</div>
            </div>
        </div>
    </div>
</section>

<div class="separate"></div>
<section class="more-info" id="work">
    <div class="section-content">
        <h1>Work</h1>
        <div class="border"></div>
        <div class="case-studies">
            <div class="case-study">
                <div class="case-study-image" style="background-image: url('/assets/images/speaking-1.jpg')" ></div>
                <div class="case-study-name item-heading large-heading">Nokia</div>
                <div class="case-study-description item-subheading">
                    &ldquo;Your Managing Imbalance seminar was exceptional. We work in a very hectic and fast moving business environment. This 2-day seminar focused on specific skills for improving each team member’s ability to achieve excellence while managing the imbalance in their personal lives. It was a great success. I still have team members coming to me and talking about the discussions and exercises we did during those two days.&rdquo;
                    <div class="source">&mdash; <i>Markku Savusalo, Managing Director Nokia, Oulu Finland</i></div>
                </div>
            </div>
            <div class="case-study">
                <div class="case-study-image" style="background-image: url('/assets/images/speaking-3.jpg')" ></div>
                <div class="case-study-name item-heading large-heading">Lifetime Financial Growth</div>
                <div class="case-study-description item-subheading">
                    &ldquo;Dr. Moore has been a visible and valuable asset to our company. So much so, we appointed him to our Board of Directors. He is involved in weekly performance coaching sessions with many of our agents and conducts monthly seminars at various LFG locations. He has demonstrated an ability to maximize the potential of our agents, both personally and financially.&rdquo;
                    <div class="source">&mdash; <i>Earl Luttner, CEO and Chairman of the Board, Lifetime Financial Growth, LLC</i></div>
                </div>
            </div>
            <div class="case-study">
                <div class="case-study-image" style="background-image: url('/assets/images/speaking-2.jpg')" ></div>
                <div class="case-study-name item-heading large-heading">Catholic HealthCare West</div>
                <div class="case-study-description item-subheading">
                    &ldquo;Thank you again for the inspirational message you shared. Your keynote was extremely timely for us and the Catholic Healthcare West team especially appreciated your enthusiasm and candor. Of all the presentations at our retreat, yours received the highest evaluation rating by our staff.&rdquo;
                    <div class="source">&mdash; <i>Lori Aldrete, Vice president, corporate communications, CHW</i></div>
                </div>
            </div>
        </div>
        <div class="border"></div>
        <h3>Client List</h3>
        <div class="client-section">
            <div class="client"><a class="more-link faux-underline-large" href="http://pga.com">Professional Golf Association (PGA)</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="http://wtatennis.com">Women’s Tennis Association (WTA)</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="http://usta.com">United States Tennis Association (USTA)</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="http://teamusa.org">United States Track and Field (USOC)</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="http://clemson.edu">Clemson University</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="http://uky.edu">University of Kentucky</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="http://ou.edu">University of Oklahoma</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="http://www.utexas.edu">University of Texas</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="http://company.nokia.com">Nokia</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="https://www.northwesternmutual.com">North Western Mutual Financial Group</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="http://www.delwebb.com">Dell-Webb</a></div>
            <div class="client"><a class="more-link faux-underline-large" href="http://www.octagon.com">Octagon</a></div>
        </div>
    </div>
</section>

<section class="blog" id="writing">
    <div class="section-content">
        <h1 class="small-header">Writing</h1>
        <div class="border"></div>
        <div class="section-writing">
            <div class="blog-entry">
                <div class="item-heading large-heading faux-underline-large">3-Steps for Advancing Your 2015 Goals</div>
                <div class="item-subheading item-description">Now is the best time to reflect on this past year and evaluate what you have learned. Here are three steps to help you clarify the lessons you learned this year while laying the groundwork for advancing your 2015 goals. Carve out 40 minutes in your schedule where you will eliminate distractions. Find a quiet place with a notepad, pen and your 2014 calendar. This may be the best 40-minutes you spend this week! Phone off? Your favorite beverage in place? It’s time to begin.
                </div>
            </div>
            <div class="blog-entry">
                <div class="item-heading large-heading faux-underline-large">3 Affirmations For Keeping Your Head In the Game</div>
                <div class="item-subheading item-description">Now is the best time to reflect on this past year and evaluate what you have learned. Here are three steps to help you clarify the lessons you learned this year while laying the groundwork for advancing your 2015 goals. Carve out 4g0 minutes in your schedule where you will eliminate distractions. Find a quiet place with a notepad, pen and your 2014 calendar. This may be the best 40-minutes you spend this week! Phone off? Your favorite beverage in place? It’s time to begin.
                </div>
            </div>
            <div class="blog-entry">
                <div class="item-heading large-heading faux-underline-large ">How To Make The Most From A Mistake</div>
                <div class="item-subheading item-description">Now is the best time to reflect on this past year and evaluate what you have learned. Here are three steps to help you clarify the lessons you learned this year while laying the groundwork for advancing your 2015 goals. Carve out 40 minutes in your schedule where you will eliminate distractions. Find a quiet place with a notepad, pen and your 2014 calendar. This may be the best 40-minutes you spend this week! Phone off? Your favorite beverage in place? It’s time to begin.
                </div>
            </div>
        </div>
        <a class="button" href="https://www.linkedin.com/in/drbillmoore">Subscribe</a>
        <div class="small-note">About one email a month</div>
    </div>
</section>

<section class="books" id="books">
    <div class="section-content">
        <h1 class="small-header">Books</h1>
        <div class="border"></div>
        <h3>Corporate Books for Professionals</h3>
        <div class="section-books half">
            {% for book in site.books do %}
            {% if book.type == 'corporate' %}
            <div class="book">
                <div class="case-study-image" style="background-image: url('{{ book.image }}')"></div>
                <a href="{{ book.url }}" class="item-heading large-heading">{{ book.title }}</a>
                <div class="item-supheading">{{ book.subtitle }}</div>
                <div class="item-subheading">{{ book.content | markdownify }}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <h3>Books for Musicians</h3>
        <div class="section-books third">
            {% for book in site.books do %}
            {% if book.type == 'music' %}
            <div class="book">
                <div class="case-study-image" style="background-image: url('{{ book.image }}')"></div>
                <a href="{{ book.url }}" class="item-heading large-heading">{{ book.title }}</a>
                <div class="item-supheading">{{ book.subtitle }}</div>
                <div class="item-subheading">{{ book.content | markdownify }}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <h3>Books for Golfers</h3>
        <div class="section-books full">
            {% for book in site.books do %}
            {% if book.type == 'golf' %}
            <div class="book">
                <div class="case-study-image" style="background-image: url('{{ book.image }}')"></div>
                <a href="{{ book.url }}" class="item-heading large-heading">{{ book.title }}</a>
                <div class="item-subheading">{{ book.content | markdownify }}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="seminars" id="seminars">
    <div class="section-content">
        <h1 class="small-header">Seminars</h1>
        <div class="border"></div>
        <h3>Corporate Seminars</h3>
        <div class="section-books quarter">
            {% for seminar in site.seminars do %}
            {% if seminar.type == 'corporate' %}
            <div class="book">
                <a href="{{ seminar.url }}" class="item-heading large-heading">{{ seminar.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <h3>Music Seminars</h3>
        <div class="section-books third">
            {% for seminar in site.seminars do %}
            {% if seminar.type == 'music' %}
            <div class="book">
                <a href="{{ seminar.url }}" class="item-heading large-heading">{{ seminar.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <h3>Sports Seminars</h3>
        <div class="section-books quarter">
            {% for seminar in site.seminars do %}
            {% if seminar.type == 'sports' %}
            <div class="book">
                <a href="{{ seminar.url }}" class="item-heading large-heading">{{ seminar.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
