body {
  padding: 0px;
  margin: 0px;
  font-family: "Lora", Arial, Helvetica, sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8); }
  body a {
    color: #39c; }
  body h1, body h2, body h1 a, body h2 a, body h1, body h3, body h4, body h5, body h6 {
    color: #222; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px; }

p, ul, ol, table, pre, dl {
  margin: 0 0 20px; }

pre {
  margin-bottom: 30px; }

p {
  line-height: 1.7em;
  word-wrap: break-word; }

p.nomargin {
  margin: 0 0 20px; }

ol {
  margin: 0 0 50px; }

li {
  line-height: 150%;
  padding: 5px 0px;
  word-wrap: break-word; }

ul li {
  list-style-type: circle; }

ol:last-child, p:last-child {
  margin-bottom: 0px; }

h1, h3 {
  line-height: 148%;
  font-weight: normal;
  font-family: "montserrat", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 59px;
  text-align: center;
  letter-spacing: -2px;
  text-transform: uppercase;
  line-height: 100%; }
  h1.small-header {
    font-weight: normal;
    font-size: 50px; }

h2 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal; }

h3 {
  margin-bottom: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8); }

a {
  font-weight: 400;
  text-decoration: none; }

a, a:active, a:focus {
  outline: none; }

img {
  max-width: 100%; }

section:eq(2) {
  background: cyan; }

section {
  padding: 80px 0px; }
  section.purple-section {
    background: #f3f0f4; }
  section .section-content {
    max-width: 950px;
    padding: 0px 20px;
    margin: 0px auto; }
  section .border {
    width: 130px;
    margin: 0px auto;
    display: block;
    height: 3px;
    margin-bottom: 30px;
    background: #32004b; }

header {
  top: 0px;
  width: 100%;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #ccc; }
  header a {
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 0px;
    margin: 0px 10px;
    font-family: "montserrat", sans-serif;
    letter-spacing: 1px;
    line-height: 150%; }

footer {
  text-align: center;
  padding: 10px 20px;
  font-size: 12px;
  color: #6f6f6f; }

.wrapper {
  margin: 0px auto; }

.separate {
  background: #32004b;
  height: 20px;
  width: 100%; }

.hero-unit, .large-footer {
  position: relative;
  padding-bottom: 50px;
  text-align: center; }
  .hero-unit h1, .large-footer h1 {
    padding-top: 71px;
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: none; }
  .hero-unit h1, .hero-unit h3, .hero-unit .border, .large-footer h1, .large-footer h3, .large-footer .border {
    z-index: 2;
    position: relative; }
  .hero-unit h3, .large-footer h3 {
    margin: 0px auto;
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
    max-width: 533px;
    margin-top: 20px; }
  .hero-unit .border, .large-footer .border {
    width: 38px;
    margin: 0 auto;
    height: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: white; }
  .hero-unit p, .large-footer p {
    margin-left: auto;
    margin-right: auto;
    max-width: 533px;
    text-align: left; }

.large-footer .portrait {
  margin-bottom: 20px; }
.large-footer h1 {
  font-size: 48px; }
  .large-footer h1.small-width {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    line-height: 130%; }

.more-info .section-content .client-section {
  text-align: center;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-width: 180px;
  -webkit-column-width: 180px;
  column-width: 180px;
  margin: 0px auto;
  font-size: 16px; }
  .more-info .section-content .client-section a {
    color: black; }
  .more-info .section-content .client-section .faux-underline-large::before {
    border-bottom: 1px solid #333; }
.more-info .section-content .info-section-group {
  margin-bottom: 20px; }
  .more-info .section-content .info-section-group .info-section {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 18px; }
    .more-info .section-content .info-section-group .info-section .info-body {
      width: 93%; }

.item-heading {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 148%;
  text-align: left; }
  .item-heading.large-heading {
    font-size: 22px;
    line-height: 138%;
    margin-bottom: 7px; }

.item-subheading {
  font-size: 14px;
  text-align: left;
  line-height: 144%; }
  .item-subheading.large-subheading {
    font-size: 16px; }

.small-note, .item-supheading {
  font-size: 14px;
  font-style: italic;
  color: #8B8989; }

.item-supheading {
  text-align: left;
  margin-top: -8px; }

.case-studies {
  text-align: center; }
  .case-studies .case-study {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 0px 2% 17px; }
    .case-studies .case-study:first-child {
      margin-left: 0px; }
    .case-studies .case-study:last-child {
      margin-left: 0px; }
    .case-studies .case-study .item-heading {
      margin-bottom: 1px; }
    .case-studies .case-study .item-supheading {
      margin-bottom: 6px; }
    .case-studies .case-study .case-study-image {
      width: 100%;
      height: 150px;
      background-color: #f3f3f3;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      margin-bottom: 10px; }

.font-heading {
  color: #32004b;
  margin-bottom: 10px; }

.more-section-group {
  text-align: center; }
  .more-section-group .more-section {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 0px 2% 17px; }
    .more-section-group .more-section:first-child {
      margin-left: 0px; }
    .more-section-group .more-section:last-child {
      margin-left: 0px; }
    .more-section-group .more-section .item-heading {
      margin-bottom: 5px;
      text-align: center; }

.talks {
  text-align: center; }
  .talks .section-content {
    max-width: 950px; }
  .talks iframe {
    max-width: 100%;
    height: 230px;
    width: 100%; }
  .talks .site-talks {
    width: 100%; }
  .talks .site-talk {
    display: inline-block;
    width: 44%;
    vertical-align: top; }
    .talks .site-talk .item-heading, .talks .site-talk .item-subheading {
      text-align: center; }
    .talks .site-talk:first-child {
      margin-right: 2%; }
    .talks .site-talk:last-child {
      margin-left: 2%; }

.section-do {
  overflow: hidden;
  *zoom: 1;
  padding: 50px 0px 0px; }
  .section-do:last-child {
    padding-top: 0px; }
  .section-do .button {
    margin-top: 58px;
    font-size: 15px; }
  .section-do .large-heading {
    font-weight: normal;
    text-transform: none;
    font-size: 36px;
    line-height: 117%;
    margin-bottom: 13px; }
  .section-do .left, .section-do .right {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
  .section-do .right {
    float: right;
    text-align: center; }
  .section-do.third-size {
    padding: 0px; }
    .section-do.third-size .left {
      width: 33%; }
      .section-do.third-size .left .button {
        margin-top: 10px; }
      .section-do.third-size .left .item-description {
        font-size: 18px; }
    .section-do.third-size .right {
      width: 66%; }
  .section-do.last .button {
    margin-top: 100px; }

.button {
  display: inline-block;
  padding: 10px 20px;
  background: #32004b;
  color: white;
  border-radius: 5px;
  font-family: "montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 150%;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 3px; }

.books .book {
  display: inline-block;
  vertical-align: top;
  width: 24%; }

.team .section-content {
  max-width: 950px; }
.team .team-member {
  width: 32.9%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px; }
  .team .team-member .team-member-image {
    width: 110px;
    height: 110px;
    background: #333;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-right: 6%; }
  .team .team-member .item-subheading {
    max-width: 93%; }
.team .team-leads {
  margin-bottom: 20px; }
.team .team-collaborators {
  text-align: center; }
  .team .team-collaborators h3 {
    margin-bottom: 28px; }
  .team .team-collaborators .team-member-image {
    width: 60px;
    height: 60px; }

.about .section-content p {
  max-width: 650px;
  margin: 0px auto 20px; }
.about .about-video {
  text-align: center; }
  .about .about-video iframe {
    height: 344px;
    width: 611px;
    margin: 50px auto; }
.about h3 {
  margin-top: 30px;
  margin-bottom: 20px; }
.about .about-section-group {
  margin-top: 20px;
  max-width: 720px;
  margin: 0px auto; }
  .about .about-section-group .about-section {
    border-bottom: 1px solid #ececec;
    padding: 15px 0px; }
    .about .about-section-group .about-section:first-child {
      padding-top: 0px; }
    .about .about-section-group .about-section:last-child {
      padding-bottom: 0px;
      border-bottom: 0px solid; }
    .about .about-section-group .about-section .item-heading {
      margin-bottom: 7px;
      width: 30%;
      padding-right: 0%;
      display: inline-block;
      vertical-align: top; }
    .about .about-section-group .about-section .item-subheading {
      width: 65%;
      margin-left: 4%;
      display: inline-block;
      vertical-align: top; }

.portrait {
  background-image: url("/assets/images/bill_vimeo.jpg");
  background-size: cover;
  background-position: center center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0px auto; }

.blog .section-content {
  text-align: center;
  max-width: 660px;
  position: relative; }
  .blog .section-content .blog-entry {
    margin-bottom: 20px;
    text-align: left; }
    .blog .section-content .blog-entry .faux-underline-large::before {
      margin-top: 0.2em; }

.jobs .section-content {
  text-align: center;
  max-width: 450px;
  position: relative; }
.jobs p, .jobs ul, .jobs ol {
  text-align: left; }
.jobs .job-listing {
  border-bottom: 1px dotted #adadad;
  color: #333;
  display: block;
  padding: 20px 0px;
  text-align: left; }
  .jobs .job-listing:hover .item-heading {
    color: #39c; }
  .jobs .job-listing:last-child {
    border-bottom: 0px;
    padding-bottom: 0px; }
  .jobs .job-listing:first-child {
    padding-top: 0px;
    border-top: 0px solid; }

.faux-underline-large {
  display: inline-block;
  position: relative;
  text-decoration: none; }
.faux-underline-large:before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 0.4em;
  border-bottom: 2px solid #333;
  color: #505050; }
.faux-underline-large:hover {
  text-decoration: none; }
