@media (max-width: 700px) {
  body {
    font-size: 16px; }

  header {
    font-size: 12px; }
    header .business-name {
      display: none; }
    header a {
      font-family: "montserrat", sans-serif;
      font-weight: 700; }
      header a:last-child {
        display: none; }

  .about-video {
    display: none; }

  .hero-unit {
    padding-bottom: 71px; }
    .hero-unit h1 {
      font-size: 53px;
      padding-top: 30px; }

  .about .about-section-group .about-section .item-heading, .about .about-section-group .about-section .item-subheading {
    width: 100%;
    margin-left: 0px; }

  .case-studies .case-study {
    width: 100%;
    margin: 0px 0px 30px; }

  .more-info .section-content .client-section {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-width: 130px;
    -webkit-column-width: 130px;
    column-width: 130px; }
    .more-info .section-content .client-section .faux-underline-large:before {
      border-bottom: 0px solid #333; }

  .info-section img {
    display: none; }
  .info-section .item-subheading {
    margin-top: 8px; }

  .single-page .section-content .job-listing {
    font-size: 16px; }
    .single-page .section-content .job-listing h3 a.faux-underline-large:before {
      border-bottom: 0px solid #333; }

  .team .team-member {
    width: 49%; }
    .team .team-member .team-member-image {
      float: none;
      margin: 0px auto 12px; }
    .team .team-member .item-subheading, .team .team-member .item-heading, .team .team-member .item-supheading {
      width: 100%;
      max-width: 100%;
      text-align: center; }

  .talks .site-talk {
    width: 100%; }
    .talks .site-talk:first-child, .talks .site-talk:last-child {
      margin: 0px 0px 20px; }

  .war-room, .streets {
    display: none; } }
